.pshudo:hover {
    background-color: blue;
    font-size: 50px;
    font-weight: bold;
}

.focous:focus {
    background-color: crimson;

}

.middle:focus {
    color: blue;
    background-color: brown;
}

.eee:visited {
    color: rgb(7, 238, 7);
}