h1 {
    background-color: aqua;
}

span {
    background-color: blue;
    margin-left: 15px;
    margin-right: 20px;
    height: 200px;
    width: 200px;
}

div {
    background-color: aqua;
    /* width: 300px; */
}

a {
    display: block;
}

h2 {
    background-color: darkblue;
    border: 35px solid red;
    padding: 15px;
}

p {
    background-color: fuchsia;
}