h1 {
    background-color: aqua;
}

span {
    background-color: blue;
    display: inline-block;
    height: 200px;
    width: 200px;
}

div {
    background-color: aqua;
    width: 300px;
}

a {
    display: block;
}